.e-font {
  font-family: Arial;
}
.e-new {
  color: orange;
  padding-left: 100px;
  margin-bottom: 0px;
  font-size:11px;
  font-weight: bold;
}
.e-mac {
  font-weight:bold;
  padding-left: 70px;
  margin-top: 5px;
  font-size:14px;
  margin-bottom: 0px;
}
.e-super {
  margin-top: 4px;
  margin-bottom: 0px;
  padding-left: 0px;
  font-weight:bold;
  font-size:24px;
}
.e-from {
  margin-top:5px;
  margin-bottom: 0px;
  font-size:12px;
  margin-left: 85px;
}
.e-buy {
 font-size: 12px;
 margin-top:10px;
 margin-left: 95px;
 margin-bottom:50px;
 color:white;
 background-color: blue;
 border:none;
 padding: 5px  10px;
 border-radius: 25px;
 transition:opacity 0.15s;
}
.e-buy:hover {
  opacity:0.7;
  cursor: pointer;
}
.e-buy:active {
  opacity: 0.4;
}

.f-font {
  font-family: Arial;
}
.f-number {
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 24px;
}
.f-usd {
  
  font-weight:normal;
  color: grey;
  font-size: 14px;
}
.f-today {
  margin-top: 5px;
  margin-bottom: 0px;
  color: green;
  font-size: 12px;
}
.f-hour {
  margin-top: 5px;
  margin-bottom: 50px;
  color: grey;
  font-size: 12px;
}
.f-percentage {
  color: red;
}


.g-font {
  font-family :Arial;
}
.g-free {
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 14px;
}
.g-free2 {
  color: grey;
}
.g-statement {
  margin-top: 5px;
  font-size: 14px;
  max-width: 450px;
}
.g-here {
  font-size:14px;
}
.g-chp {
  color: rgb(0, 119, 255);
}