
.video-list {
  padding-top: 28px;
  padding-left: 30px;

}
.container1 {
  top: 0px;
  right: 0px;
  left: 0px;
  max-width: 1279px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 30px;
  column-gap: 16px;
  

}
.videobox1 {

}
.thumbnail-box {
position: relative;
}

.thumbnail1 {
  position: relative;
  width: 100%;
  }
.thumbnail-time {
  position: absolute;

}
.box-youtuber1 {
  display: inline-block;
  vertical-align: top;
}

.grid-info1 {
  display: grid;
  grid-template-columns: 40px 1fr;
}

.box-info1 {}

.youtuber1 {
  margin-top: 5px;
  width: 40px;
  position: 50px;
  border-radius: 20px;
  text-align: top;
}


.title1 {
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 500;
  width: 220px;
  line-height: 20px;
  vertical-align: top;
}

.person1 {
  font-size: 12px;
  color: grey;
  margin-bottom: 0px;
  margin-top: 20px;
  margin-left: 5px;

}

.views1 {
  margin-top: 5px;
  color: grey;
  font-size: 12px;
  margin-left: 5px;
}

.con-youtuber {}

.con-info {}

.boxyoutuber {
  vertical-align: top;
}