
.video-list {
  padding-top: 25px;
  padding-left: 30px;
  display: flex;
  padding-right: 24px;
  background-color: rgba(211, 211, 211, 0.17);

}
.container1 {
  font-family: Roboto;
  top: 0px;
  right: 0px;
  left: 0px;
  max-width: 1279px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 30px;
  column-gap: 16px;
  

}
.videobox1 {

}
.thumbnail-box {
  
  position: relative;
}

.thumbnail1 {
  width: 100%;
  }
.thumbnail-time {
  font-family: Roboto;
  position: absolute;
  bottom: 12px;
  right: 5px;
  background-color: black;
  color: white;
  padding: 3px 4px;
  font-size: 12px;
  border-radius: 2px;

}
.box-youtuber1 {
  display: inline-block;
  vertical-align: top;
}

.grid-info1 {
  display: grid;
  grid-template-columns: 40px 1fr;
  padding-top: 4px;
}

.box-info1 {
  padding-left: 4px;
}

.youtuber1 {
  margin-top: 5px;
  width: 35px;
  position: 50px;
  border-radius: 20px;
  text-align: top;
}


.title1 {
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 500;
  width: 220px;
  line-height: 20px;
  vertical-align: top;
}

.person1 {
  font-size: 12px;
  color: grey;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-left: 5px;

}

.views1 {
  margin-top: 5px;
  color: grey;
  font-size: 12px;
  margin-left: 5px;
}

.con-youtuber {}

.con-info {}

.boxyoutuber {
  vertical-align: top;
}